<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<JsonLayout complete="false" compact="false" properties="true"
				objectMessageAsJsonObject="true"
				locationInfo="true">
				<KeyValuePair key="role" value="${ctx:userRole}" />
				<KeyValuePair key="user" value="${ctx:userEmail}" />
<!-- 				<KeyValuePair key="event" value="${ctx:event}" />
				<KeyValuePair key="action" value="${ctx:action}" /> -->
			</JsonLayout>
			<Filters>
				<ThresholdFilter level="trace" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
		</Console>

		<RollingFile name="AuditFileAppender" fileName="audit.log"
			filePattern="audit.%i.log.gz" ignoreExceptions="false">
			<JsonLayout complete="false" compact="false"
				objectMessageAsJsonObject="true">

			</JsonLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1 KB" />
			</Policies>
			<Filters>
				<ThresholdFilter level="AUDIT" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="AuditFileAppender" />
		</Root>
	</Loggers>
</Configuration>